@import "./variables";

.preview-container{
	@include container;
	margin-top: 10vh;
	#preview {
		box-sizing: border-box;
		font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
		background-color: white;
		width: 100%;
		min-height: 250px;
		overflow-wrap: break-word;
		padding: 10px;
		blockquote {
		  border-left: 3px solid #224b4b;
			color: #224b4b;
			padding-left: 5px;
			margin-left: 25px;
		}
		ul,
		ol {
			margin-left: 20px;
		}
		  
		code {
			background: white;
			padding: 1px 4px 2px 4px;
			font-size: 12px;
			font-weight: bold;
		}
		  
		pre {
			background: white;
			padding: 5px 0 5px 5px;
		}
		  
		h1 {
			border-bottom: 2px solid black;
		}
		  
		h2 {
			border-bottom: 1px solid black;
		}
		  
		table {
			border-collapse: collapse;
		}
		  
		td,
		th {
			border: 2px solid black;
			padding-left: 5px;
			padding-right: 5px;
		}
	}
}